{#
/**
 * @file
 * Template implementation for the ga_telephone_number theme hook.
 *
 * Available variables:
 * - number: The telephone number, as output from the core telephone formatter.
 * - phone_type: The phone type.
 * - extension: The phone extension, if existing.
 * - instructions: The tree instructions, if existing.
 */
#}
<div>Number: {{ number }}</div>
<div>Type: {{ phone_type }}</div>
<div>Extension: {{ extension }}</div>
<div>Instructions: {{ instructions }}</div>
